<?xml version="1.0" encoding="UTF-8"?>

<suite name="Unit Test Suite" verbose="2">

    <parameter name="deleteTempDirs" value="true"/>
    <parameter name="randomSeed" value=""/>

    <!-- These properties are used by KVDatabaseTest. Uncomment one or more to include time-consuming tests. -->
<!--
    <parameter name="testSimpleKV" value="true"/>
    <parameter name="xmlFilePrefix" value="xmldb"/>
    <parameter name="fdbClusterFile" value="/usr/local/etc/foundationdb/fdb.cluster"/>
    <parameter name="mysqlURL" value="jdbc:mysql://127.0.0.1:3306/jsimpledb?user=jsimpledb&amp;password=jsimpledb&amp;logger=com.mysql.jdbc.log.Slf4JLogger"/>
    <parameter name="berkeleyDirPrefix" value="BerkeleyDbJava"/>
    <parameter name="levelDbDirPrefix" value="LevelDbJava"/>
    <parameter name="rocksDbDirPrefix" value="RocksDbJava"/>
    <parameter name="arrayDirPrefix" value="ArrayKVStore"/>
    <parameter name="arrayCompactMaxDelay" value="3"/>
    <parameter name="arrayCompactSpaceLowWater" value="200"/>
    <parameter name="arrayCompactSpaceHighWater" value="500"/>
    <parameter name="raftDirPrefix" value="RaftDB"/>
    <parameter name="raftNumNodes" value="3"/>
    <parameter name="raftCommitTimeout" value="2500"/>
    <parameter name="raftMinElectionTimeout" value="100"/>
    <parameter name="raftMaxElectionTimeout" value="150"/>
    <parameter name="raftHeartbeatTimeout" value="50"/>
    <parameter name="raftMaxTransactionDuration" value="500"/>
    <parameter name="raftFollowerProbingEnabled" value="false"/>
    <parameter name="raftNetworkDelayMillis" value="10"/>
    <parameter name="raftNetworkDropRatio" value="0.05"/>
-->

    <test name="Unit Tests">
        <packages>
            <package name="org.jsimpledb"/>
            <package name="org.jsimpledb.cli"/>
            <package name="org.jsimpledb.core"/>
            <package name="org.jsimpledb.kv"/>
            <package name="org.jsimpledb.kv.array"/>
            <package name="org.jsimpledb.kv.bdb"/>
            <package name="org.jsimpledb.kv.fdb"/>
            <package name="org.jsimpledb.kv.leveldb"/>
            <package name="org.jsimpledb.kv.mvcc"/>
            <package name="org.jsimpledb.kv.raft"/>
            <package name="org.jsimpledb.kv.raft.msg"/>
            <package name="org.jsimpledb.kv.rocksdb"/>
            <package name="org.jsimpledb.kv.simple"/>
            <package name="org.jsimpledb.kv.sql"/>
            <package name="org.jsimpledb.kv.util"/>
            <package name="org.jsimpledb.parse"/>
            <package name="org.jsimpledb.parse.expr"/>
            <package name="org.jsimpledb.parse.func"/>
            <package name="org.jsimpledb.spring"/>
            <package name="org.jsimpledb.util"/>
        </packages>
    </test>
</suite>

