<?xml version="1.0" encoding="UTF-8"?>

<Configuration>

    <Appenders>
        <Console name="console" target="SYSTEM_ERR">
            <PatternLayout>
                <Pattern>%p: %m%n</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>

    <Loggers>

        <Root level="debug">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>

</Configuration>
