<?xml version="1.0" encoding="UTF-8"?>

<Configuration>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%5p: [%t] %m%n</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>

    <Logger name="io.permazen" level="debug"/>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>

</Configuration>
