<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">

    <!-- Spring context loader -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- Vaadin servlet -->
    <servlet>
        <servlet-name>JSimpleDBGUI</servlet-name>
        <servlet-class>org.dellroad.stuff.vaadin7.SpringVaadinServlet</servlet-class>
        <init-param>
            <param-name>productionMode</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>UIProvider</param-name>
            <param-value>org.jsimpledb.gui.GUIUIProvider</param-value>
        </init-param>
        <init-param>
            <param-name>closeIdleUIs</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>heartbeatInterval</param-name>
            <param-value>60</param-value>      <!-- UI's expire after (3.1 * heartbeatInterval) seconds -->
        </init-param>
        <init-param>
            <param-name>org.atmosphere.cpr.broadcasterCacheClass</param-name>
            <param-value>org.atmosphere.cache.UUIDBroadcasterCache</param-value>
        </init-param>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>JSimpleDBGUI</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JSimpleDBGUI</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>
