<?xml version="1.0" encoding="UTF-8"?>

<Configuration>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%p: %m%n</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>

    <Loggers>

        <Logger name="org.hibernate.validator.internal.util.Version" level="warn"/>

        <Root level="info">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>

</Configuration>
